<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="availableCoins" value="100;50;25;10;5;1" />
    <add key="availableBills" value="10000;5000;2000;1000;500;200" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>

